<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rokokoe.dontforgetmydrugs">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListMunu" />
        <activity
            android:name=".AddList"
            android:label="@string/title_activity_add_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListDrugs" />
        <activity android:name=".AddDataUser" />
        <activity android:name=".AddHistory" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".ShowEvent" />
    </application>

</manifest>